.DS_Store
package-lock.json
video/*
raw_data/*
analysis/animalgame_analysis_cache
analysis/animalgame_analysis_files

# knitr and R markdown default cache directories
/*_cache/

# knitr and R markdown default files directories
/*_files/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
